@import "/function.scss";
.hero_img_section_wrapper {
  min-height: 80vh;
  background-image: url("/public/three-people-standing-front-building.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -16rem;
}
.services_page_row {
  @include big_heading;
  .big_heading {
    border: none;
    width: 100%;
  }
}
.story_section {
  background-image: url("/public/vector.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100vh;
  width: 100%;
  position: relative;
}
.right_container {
  position: absolute;
  top: 0;
  left: 85rem;
  top: 5rem;
  & p {
    font-size: 1rem;
  }
}
